.adminLogin {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    &__form {
        display: flex;
        gap: 10px;
        input {
            padding: 5px 20px;
            border-radius: 5px;
            font-weight: 800;
        }
        button {
            border-radius: 5px;
            color: var(--background) !important;
            border: none !important;
            background-color: var(--1) !important;
            &:hover {
                background-color: var(--2) !important;
            }
        }
    }
    p {
        font-size: .8em;
        font-weight: 300;
        color: var(--font-color) !important;
    }
}