.themeForm {
    width: 100%;
    background-color: var(--background2);
    padding: 20px;
    border-radius: 10px;
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        input {
            width: 100%;
            margin-top: 10px;
            border: none;
        }
    }
}