@use '../utils/mixins' as *;

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7vh;
    &__logo {
        width: 200px;
        img {
            width: 100%;
        }
    }
    a {
        position: absolute;
        top: 40px;
        right: 40px;
        padding: 10px 20px;
        color: var(--font-color);
        font-size: .8em;
        border: var(--background2) 1px solid;
        border-radius: 5px;
        transition: all ease-in-out .2s;
        &:hover {
            border: 1px solid var(--background3) !important;
        }
    }
    &__form {
        form {
            position: relative;
            display: flex;
            gap: 10px;
            .go {
                background-color: var(--1) !important;
                color: var(--font-color2) !important;
                font-weight: 600;
                box-shadow: 
                0 0 10px 2px rgba(101, 56, 205, 0.6), 
                rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, 
                rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, 
                rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, 
                rgba(0, 0, 0, 0.06) 0px 2px 1px, 
                rgba(0, 0, 0, 0.09) 0px 4px 2px,;

                border: 1px solid rgba(255, 255, 255, 0.267) !important;
                &:hover {
                    box-shadow:  0 0 10px 2px rgba(101, 56, 205, 0.875), ;
                }
            }
            .form {
                &__pseudo, &__session {
                    position: relative;
                    max-width: 250px;
                    input {
                        box-sizing: border-box;
                        width: 100%;
                        padding: 10px 20px;
                        border-radius: 5px;
                        font-weight: 800;
                    }
                    button {
                        color: var(--foreground) !important;
                    }
                    .error {
                        position: absolute;
                        margin-top: 10px;
                        display: flex;
                        width: auto;
                        font-size: .7em;
                        text-align: center;
                    }
                }
            }
        }
    }
}