@use '../utils/mixins' as *;

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vh;
    a {
        position: absolute;
        top: 40px;
        right: 40px;
        padding: 10px 20px;
        color: var(--font-color);
        font-size: .8em;
        border: var(--background2) 1px solid;
        border-radius: 5px;
        transition: all ease-in-out .2s;
        &:hover {
            border: 1px solid var(--background3) !important;
        }
    }
    &__form {
        form {
            position: relative;
            display: flex;
            gap: 10px;
            .form {
                &__pseudo, &__session {
                    position: relative;
                    max-width: 250px;
                    input {
                        box-sizing: border-box;
                        width: 100%;
                        padding: 10px 20px;
                        border-radius: 5px;
                        font-weight: 800;
                    }
                    button {
                        color: var(--foreground) !important;
                    }
                    .error {
                        position: absolute;
                        margin-top: 10px;
                        display: flex;
                        width: auto;
                        font-size: .7em;
                        text-align: center;
                    }
                }
            }
        }
    }
}