@use '../utils/mixins' as *;

.lobby {
    height: 100vh;
    @include desktop {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(20, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        box-sizing: border-box;
    }
    @include large {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: fit-content;
        background-color: var(--background2);
        @include desktop {
            padding: 10px;
            border-radius: 10px;
        }
        h1 {
            @include desktop {
                font-size: .5em;
            }
        }
        span {
            display: flex;
            justify-content: space-between;
            @include desktop {
                font-size: .6em;
            }
            p {
                font-weight: 800;
            }
        }
    }
}