
#root {
    --background: #0A0A0A;
    --background2 : #2B2B2B;
    --background3 : #131313;
    --background4 : #0D0D0D;
    --background5: rgba(0, 0, 0, 0.2);
    --background6: rgba(48, 48, 48, 0.2);

    --1: #8C57FF;
    --2: #c548ffd3;

    --font-color : #444444;
    --font-color2 : #ececec;
    --foreground: #e4e4e4;

    
    color: var(--font-color);
    background-color: var(--background);
    font-weight: 700;
}

*,
html {
    font-family: 'nunito sans';
} 

input, textarea {
    color: var(--font-color) !important;
    background-color: rgba(0, 0, 0, 0.336) !important;
    border: 1px solid rgba(255, 255, 255, 0.103) !important;
    border-radius: 5px;
    border: none;
    &:focus {
        outline: none; /* Retirer le contour par défaut */
        color: var(--foreground) !important;
        border: 1px solid var(--background3) !important;
    }
}

    #difficulty {
        -webkit-appearance: none; /* Pour Chrome/Safari */
        -moz-appearance: none;    /* Pour Firefox */
        appearance: none; 
        color: var(--font-color) !important;
        background-color: rgba(0, 0, 0, 0.336) !important;
        border: 1px solid rgba(255, 255, 255, 0.103) !important;
        border: none;
        font-size: 1em;
        padding:5px 10px;
        box-sizing: border-box;
        border-radius: 5px !important;
        cursor: pointer !important;
        option {
            color: var(--font-color) !important;
            border: var(--background2) 1px solid !important;
            background-color: var(--background) !important;
            border: none;
            &:focus {
                border-radius: 5px 5px 0 0 !important;
                background-color: red;
            }
        }
    }

button {
    background-color: rgba(0, 0, 0, 0.336) !important;
    border: 1px solid var(--background3) !important;
    color: var(--font-color) !important;
    padding:10px 20px;
    transition: all ease-in-out .2s;
    border: none;
    border-radius: 5px !important;
    cursor: pointer;
    &:hover {
        border: 1px solid var(--background) !important;
    }
}

//////////////////////


::-webkit-scrollbar {
    width: 10px;
    background-color: #0A0A0A;
  }
  
  ::-webkit-scrollbar-track {
    background: #0A0A0A;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #131313;
    border-radius: 5px;
  }
  