
#root {
    --background: #0c0c0c;
    --foreground: #efefef;
    --background2 : #080808;

    color: var(--foreground);
    background-color: var(--background);
}

*,
html {
    font-family: 'nunito sans';
} 
