
button {
    background-color: var(--foreground);
    border: none;
    border-radius: 5px;
    color: var(--background);
    font-weight:800;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all ease-in-out .2s;
    &:hover {
        background-color: var(--background);
        border: 2px solid var(--foreground);
        color: var(--foreground);
    }
}